.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

.login-box {
  background-color: var(--nav-background-color);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: var(--accent-color);
}

.login-box label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: var(--secondary-color);
}

.login-box input[type="email"],
.login-box input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.login-box input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-box input[type="submit"]:hover {
  background-color: var(--hover-color);
}