.container {
  display: grid;
  grid-template-columns: 170px 1fr;
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--title-background-color);
}

.nav {
  padding: 20px;
  background-color: var(--nav-background-color);
  border-right: 1px solid var(--border-color);
  width: 120px;
  height: calc(100vh - 80px);
}

.title {
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
}

.profile-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-bottom: 14px;
  color: var(--secondary-color);
  cursor: pointer;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

li img {
  margin-right: 10px;
}

li:hover {
  color: var(--hover-color);
}

.sign-out {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.sign-out:hover {
  background-color: var(--hover-color);
}

.profile-circle {
  width: 40px;
  height: 40px;
  background-color: var(--muted-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.banners-container {
  border: 1px solid var(--border-color);
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.582); 
}

.date-banner,
.fee-banner {
  margin-bottom: 50px;
  display: block;
  font-size: 30px;
}

