.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  padding: 20px;
}

.logo-img {
  width: 70%; 
  max-width: 300px; 
  margin-bottom: 40px;
}

.signup-box {
  background-color: var(--box-background-color);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.signup-box h2 {
  margin-bottom: 20px;
  color: var(--accent-color);
  font-size: 24px;
}

.signup-box label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: var(--secondary-color);
  font-size: 14px;
}

.signup-box input[type="email"],
.signup-box input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.signup-box input[type="email"]:focus,
.signup-box input[type="password"]:focus {
  border-color: var(--accent-color);
  outline: none;
}

.signup-box input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.signup-box input[type="submit"]:hover {
  background-color: var(--hover-color);
}

@media (max-width: 600px) {
  .signup-box {
    padding: 20px;
  }

  .logo-img {
    width: 80%; 
    max-width: none; 
    margin-bottom: 20px;
  }
}