.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  padding: 0;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--title-background-color);
}

.nav {
  padding: 20px;
  background-color: var(--nav-background-color);
  border-right: 1px solid var(--border-color);
  width: 170px;
  height: calc(100vh - 60px);
  overflow-y: auto;
  position: fixed;
}

.title {
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
  background-color: var(--title-background-color);
  padding: 20px;
}

.profile-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px;
  background-color: var(--title-background-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px 0;
  color: #f1f1f1;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3s, background-color 0.3s;
}

li img {
  margin-right: 10px;
}

li:hover {
  color: var(--hover-color);
  background-color: #32373c;
}

.sign-out {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin: 20px;
  transition: background-color 0.3s;
  display: inline-block;
  text-align: center;
}

.sign-out:hover {
  background-color: var(--hover-color);
}

.profile-circle {
  width: 40px;
  height: 40px;
  background-color: var(--accent2-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.banners-container {
  border: 1px solid var(--border-color);
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
  background-color: var(--box-background-color); 
  border-radius: 4px;
}

.date-banner,
.fee-banner {
  margin-bottom: 20px;
  display: block;
  font-size: 24px;
  color: var(--primary-color);
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-areas: 
    "Updates Updates Updates"
    "Solicitor Solicitor Solicitor";
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
  padding: 20px;
}

.updates-box,
.solicitor-box {
  border: 1px solid var(--border-color);
  padding: 30px;
  border-radius: 4px; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
  background-color: var(--box-background-color); 
  transition: box-shadow 0.3s;
}

.updates-box:hover,
.solicitor-box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.updates-box {
  grid-area: Updates;
}

.solicitor-box {
  grid-area: Solicitor;
}