:root {
  --border-color: #ccd0d4;
  --title-background-color: #f1f1f1;
  --nav-background-color: #23282d;
  --primary-color: #0073aa;
  --secondary-color: #23282d;
  --hover-color: #00a0d2;
  --accent-color: #0085ba;
  --accent2-color: #d54e21;
  --box-background-color: #fff;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}